@use "../../src/styles/variables";

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  // z-index: 10000;
  pointer-events: none;
}
.cursor-dot {
  @extend .cursor;
  width: 10px;
  height: 10px;
  background-color: variables.$grey-shark;
  // z-index: 10001;
}
.cursor-outline {
  @extend .cursor;
  width: 40px;
  height: 40px;
  border: 1px solid variables.$grey-shark;
  position: absolute;
  display: none;
  background-color: none;
  opacity: 0.7;
  transition-duration: 0.6s;
  transition-timing-function: ease-out;
}

@media screen and (max-width: 768px) {
  .cursor {
    display: none;
    cursor: pointer;
  }
}

.cursorCircle {
  height: 10px;
  width: 10px;
  background-color: variables.$grey-shark;
  border-radius: 50%;
  position: absolute;
}

div {
  &:hover ~ #cursorOutline {
    transform: scale(0.5);
    background-color: yellow;
  }
}
