@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

$color-font: rgba(255, 255, 255, 0.774);
$color-title: #333333;
$color-subtitle: #666666;
$font-menu: 'Montserrat', sans-serif;
$bkg-blue: rgb(48,36,142);
$bkg-two : #7e8287; 
$bkg-white : #efeeee;
$bkg-yellow-Light : rgb(234, 181 ,65); 
$font: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
