.background {
    display: block;
    background-repeat: repeat;
    background-size: cover;
    background-blend-mode: multiply;
    font-family: $font-menu;
    color: whitesmoke;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    margin: 0;
  }
  
  .background1 {
    display: block;
    background-image: url("../assets/images/bck-1.png");
    background-repeat: repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-blend-mode: multiply;
    position: fixed;
    height: 100vh;
    width: 100vw;
    margin: 0;
    -webkit-animation: animation 200s linear infinite reverse 0s;
    -webkit-animation-direction: reverse;
    animation: animation 200s linear infinite reverse 0s;
    animation-direction: reverse;
  }
  
  .background2 {
    display: block;
    background-image: url("../assets/images/bck-2.png");
    background-repeat: repeat;
    background-size: cover;
    background-blend-mode: multiply;
    font-family: $font-menu;
    position: fixed;
    height: 100vh;
    width: 100vw;
    margin: 0;
    transform: rotate(110deg);
    animation: animation 300s linear infinite reverse 0s;
  
  }
  .background3 {
    display: block;
    background-image: url("../assets/images/bck-3.png");
    background-repeat: repeat;
    background-size: cover;
    background-blend-mode: multiply;
    font-family: $font-menu;
    position: fixed;
    height: 100vh;
    width: 100vw;
    margin: 0;
    transform: rotate(-135deg);
    animation: animation 300s linear infinite 0s;
  }