@use "../../styles/variables";

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section-contact {
  @include flex;
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  form {
    @include flex;
    width: 40%;
    padding: 1rem;
    background-color: variables.$color-font;
    border-radius: 1rem;
    font-family: variables.$font;
  }
}

.form-cntr {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin form-input {
  // background-color: #e7dede23;
  // border-radius: 5px;
  width: 100%;
  font-family: variables.$font;
  font-size: 1.6rem;
  margin-top: 1rem;
  border: none;
  border-bottom: #757474b7 solid 1px;
}

.contact-form {
  margin-top: 4rem;
  input {
    @include form-input;
  }
  textarea {
    @include form-input;
  }
  p {
    width: 90%;
    font-size: 1.6rem;
    font-family: variables.$font-menu;
  }
}

.button-cntr {
  width: 90%;
  @include flex;
}

.send-button {
  background-color: variables.$font-menu;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 1rem;
  font-family: variables.$font-menu;
  font-weight: lighter;
  font-size: 1.5rem;
}
.contact-info {
  width: 50%;
}
